.carousel {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  // The track the slides will move inside of
  &__track {
    background: $light;
    overflow: hidden;
    margin-bottom: 2rem;
    @include media('<=tiny') {
      width: calc(100vw - 4rem);
      margin-left: auto;
      margin-right: auto;
    }
    @include media('>tiny') {
      padding: 2rem;
    }
  }
  // Collection of slides we'll be moving around
  &__slide-container {
    transition: transform 0.15s ease-in-out;
    @include media('>tiny') {
      width: calc(100vw - 4rem);
      position: relative;
      // Centre around the first slide by default
      left: calc((100% / 3) + (2rem / 3));
    }
    @include media('>small') {
      left: calc(2 * (100% / 5) + (4rem / 5));
    }
    display: flex;
    flex-direction: row;
    &:after {
      content: '';
      width: 0;
    }
  }
  &__slide {
    display: flex;
    position: relative;
    flex-shrink: 0;
    figure {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    img {
      width: 100%;
    }
    @include media('<=tiny') {
      width: 100%;
    }
    @include media('>tiny') {
      // Calcuate relative widths with fixed margins
      width: calc((100% / 3) - (2rem / 3 * 2) );
      margin-right: 2rem;
      counter-increment: slide-number;
      &:before {
        content: counter(slide-number);
        display: block;
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: $light;
        font-size: 2rem;
      }
    }
    @include media('>small') {
      width: calc(20% - (2rem / 5 * 4));
      max-width: 36rem;
      img {
        
      }
    }
  }
  &__caption {
    font-size: 2rem;
    margin-top: 1rem;
    @include media('<=tiny') {
      padding: 1rem;
    }
  }
}