@import '../../node_modules/reset-css/sass/reset';
@import '../../node_modules/include-media/dist/include-media';
@import 'variables';
@import 'color-palette';
@import 'typography';
@import 'components/carousel';
@import 'components/controls';

html {
    background: $background;
    color: $text;
    font-size: 10px;
}

header {
    padding: 2rem;
}